<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>home</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/homestyle.css">
</head>
<body >
    
    <img src="/images/logo.jpeg"  id="logo_pic" align="middle"/>
	<div id = "stu_sin">
   <a href="/sign-in"> <i class="fa fa-graduation-cap"></i> student sign-in</a>
   </div>
   <br>
   <div id = "fac_sin">
   <a href="/sign-in"> <i class="fa fa-institution"></i> faculty/staff sign-in</a>
   </div>
   <br>
   <div id = "sin_up">
   <a href="/sign-up"><i class="fa fa-user-plus"></i> sign-up</a>
   </div>

</body>
</html>