<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/sign-instyle.css" />


</head>
<body>
    <form  action= method="POST" >
		<h1>Sign-in</h1>
        <label for="email">
            EMAIL
        </label>
        <input type="email" placeholder="your email goes here" id="email" required />
        <label for=" password">
            PASSWORD
        </label>
        <input type="password" placeholder="enter your password" id="password" required />
		<br>

        <input type="submit" placeholder="submit" id="submit" />

    </form>
</body>
</html>