<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
	
	<script src="https://kit.fontawesome.com/5ffad168d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/student_tablestyle.css">
</head>
<body>

		<header> <h1><i class="fas fa-user-graduate"></i> Student Profile</h1></header>
		<table align= "center">
		
		<% for( let j in table){ %>
		
		<tr>
		<td >
		<%= j%>
		</td>
		
		<td>
		<%= table[j]%> 
		</td>
		</tr>
		


        <% } %>
		</table>



</body>
</html>